name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: install
      run: |
        sudo rm /var/lib/man-db/auto-update
        sudo ./test/install.sh
    - name: test
      run: ./test/all.sh
    - name: platforms
      run: ./test/platforms.sh
